@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quicksand:wght@500&display=swap');

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #125B50;
    height: 45px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.title-icon {
    color: white;
}

.dist-div {
    width: 45%;
}

.title {
    color: white;
    text-align: center;
}

.title h1 {
    font-family: 'Quicksand', sans-serif;
}

@media (max-width:500px){
    .dist-div {
        width: 28%;
    }
}