<app-header></app-header>

<div class="sheet-principal">
    <div class="sheet">
        <div class="container-lyrics">
            <h1 class="title-lyrics">
                Canciones que te he dedicado
            </h1>
            <mat-tab-group animationDuration="2000ms">
                <mat-tab label="Primera">
                    <div class="lyrics">
                        <p>
                            Yo quisiera darte las constelaciones <br>
                            Más millones de caricias en un manantial <br>
                            Si te fallo quiero que no me perdones <br>
                            Porque no mereces que nadie te trate mal <br>
                            Tu presencia es necesaria por razones <br>
                            Que hasta el sol de hoy no encuentro ni cómo explicar <br>
                            Pero estoy agradecido por montones <br>
                            Porque te encontré cuando no hallaba qué buscar <br>
                            Tu cabello se posa sobre mi pecho <br>
                            Y es valioso el hecho de sentirte respirar <br>
                            Lo creas o no me siento satisfecho <br>
                            Pues tú me mostraste lo importante que es amar <br>
                            Tus ojos me reflejan el sentimiento <br>
                            Justo en tus pupilas se deduce que es real <br>
                            Si no quieres decir nada dame un beso <br>
                            Y no me sueltes nunca más <br>
                            Me siento fenomenal <br>
                            Porque siento que es real <br>
                            Te amo <br>
                            La distancia no hace el desamor <br>
                            Si contigo estoy mejor <br>
                            No hace falta buscar más pasión <br>
                            De la que me dio tu olor, no <br>
                            Es que tu vista me desarma <br>
                            Me otorgas la calma y paz como la Salmah <br>
                            Finalmente te encontré, tus besos y el cafuné <br>
                            Me enamoré de tu alma <br>
                            Me enamoré de tu alma, tus besos y el cafuné <br>
                            Me enamoré de tu alma <br>
                            Las palabras me parecen pasajeras <br>
                            Creo que hay mil maneras para poder demostrar <br>
                            Que si sientes algo por una persona <br>
                            Nunca la abandonas incluso si esta se va <br>
                            Te esperaré aunque los días se hagan más largos <br>
                            Y las noches nunca acaben por mi oscuro pensamiento <br>
                            Sé lo que siento y también sé el peso que cargo <br>
                            Pero guardo tu recuerdo en lo más puro de mi centro <br>
                            Yo siento cada mirada plasmada, mentes conectadas y alzadas <br>
                            Te amo, lo sabes y espero no acabe porque todo este enlazamiento me agrada <br>
                            Tu mano tomada por mí mientras nadas, por cada galaxia de estrellas pobladas <br>
                            Alzando tu voz en distintas tonadas, diciendo muy fuerte estoy enamorada <br>
                            Lo que quiero decir, solo te quiero admitir <br>
                            Que no puedo pensar en nadie desde que estás aquí <br>
                            Porque tú me haces sentir, reír <br>
                            Y sin aliento en cada momento igual soy feliz <br>
                            Sí, pronto te alejas de mí, vas a dejar el país <br>
                            Pero tu amor vale la pena y aquí espero por ti <br>
                            Porque tú me haces fluir y sigo siendo fuerte <br>
                            Pues debo verte para vivir <br>
                            No puedo vivir sin ti (No puedo vivir sin ti) <br>
                            Nah, nah, nah, nah, nah, nah <br>
                            No, no, no, no, no, no <br>
                            Te amo, te amo <br>
                            La distancia no hace el desamor <br>
                            Si contigo estoy mejor <br>
                            No hace falta buscar más pasión <br>
                            De la que me dio tu olor, no <br>
                            Es que tu vista me desarma <br>
                            Me otorgas la calma y paz como la Salmah <br>
                            Finalmente te encontré, tus besos y el cafuné <br>
                            Me enamoré de tu alma <br>
                            La distancia no hace el desamor <br>
                            Si contigo estoy mejor <br>
                            No hace falta buscar más pasión <br>
                            De la que me dio tu olor, no <br>
                            Es que tu cuerpo me desarma <br>
                            Me otorgas la calma y paz como la Salmah <br>
                            Finalmente te encontré, tus besos y el cafuné <br>
                            Me enamoré de tu alma <br>
                        </p>
                    </div>
                </mat-tab>
                <mat-tab label="Segunda">
                    <div class="lyrics">
                        <p>
                            I found a love, for me <br>
                            Darling, just dive right in and follow my lead <br>
                            Well, I found a girl, beautiful and sweet <br>
                            Oh, I never knew you were the someone waiting for me <br>
                            'Cause we were just kids when we fell in love <br>
                            Not knowing what it was <br>
                            I will not give you up this time <br>
                            But darling, just kiss me slow <br>
                            Your heart is all I own <br>
                            And in your eyes, you're holding mine <br>
                            Baby, I'm dancing in the dark <br>
                            With you between my arms <br>
                            Barefoot on the grass <br>
                            Listening to our favourite song <br>
                            When you said you looked a mess <br>
                            I whispered underneath my breath <br>
                            But you heard it <br>
                            Darling, you look perfect tonight <br>
                            Well, I found a woman, stronger than anyone I know <br>
                            She shares my dreams, I hope that someday I'll share her home <br>
                            I found a lover, to carry more than just my secrets <br>
                            To carry love, to carry children of our own <br>
                            We are still kids, but we're so in love <br>
                            Fighting against all odds <br>
                            I know we'll be alright this time <br>
                            Darling, just hold my hand <br>
                            Be my girl, I'll be your man <br>
                            I see my future in your eyes <br>
                            Baby, I'm dancing in the dark <br>
                            With you between my arms <br>
                            Barefoot on the grass <br>
                            Listening to our favorite song <br>
                            When I saw you in that dress, looking so beautiful <br>
                            I don't deserve this <br>
                            Darling, you look perfect tonight <br>
                            Baby, I'm dancing in the dark <br>
                            With you between my arms <br>
                            Barefoot on the grass <br>
                            Listening to our favorite song <br>
                            I have faith in what I see <br>
                            Now I know I have met an angel in person <br>
                            And she looks perfect <br>
                            I don't deserve this <br>
                            You look perfect tonight <br>
                        </p>
                    </div>
                </mat-tab>
                <mat-tab label="Tercera">
                    <div class="lyrics">
                        <p>
                            When I see your smile <br>
                            Tears run down my face <br>
                            I can't replace <br>
                            And now that I'm strong I have figured out <br>
                            How this world turns cold <br>
                            And it breaks through my soul and I know <br>
                            I'll find deep inside me <br>
                            I can be the one <br>
                            I will never let you fall <br>
                            I'll stand up with you forever <br>
                            I'll be there for you through it all <br>
                            Even if saving you sends me to heaven <br>
                            It's okay <br>
                            It's okay <br>
                            It's okay <br>
                            Seasons are changing and waves are crashing and <br>
                            Stars are falling all for us <br>
                            Days grow longer and nights grow shorter <br>
                            I can show you I'll be the one <br>
                            I will never let you fall <br>
                            I'll stand up with you forever <br>
                            I'll be there for you through it all <br>
                            Even if saving you sends me to heaven <br>
                            'Cause you're my <br>
                            You're my, my <br>
                            My true love <br>
                            My whole heart <br>
                            Please don't throw that away <br>
                            'Cause I'm here for you <br>
                            Please don't walk away and <br>
                            Please tell me you'll stay, yeah <br>
                            Whoa <br>
                            Stay, whoa, whoa <br>
                            Use me as you will <br>
                            Pull my strings just for a thrill <br>
                            And I know I'll be okay <br>
                            Though my skies are turning grey (grey) <br>
                            I will never let you fall <br>
                            I'll stand up with you forever <br>
                            I'll be there for you through it all <br>
                            Even if saving you sends me to heaven <br>
                            I will never let you fall <br>
                            I'll stand up with you forever <br>
                            I'll be there for you through it all <br>
                            Even if saving you send me to heaven <br>
                        </p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div style="width: 5%; height: 10%;"></div>
        <div class="container-photos">
            <h1>
                Fotos Que Me Han Encatando
            </h1>
            <div class="container">
                <button (click)="previousImage()" [disabled]="currentImageIndex === 0" class="btn-previus">
                    <span class="material-symbols-outlined">arrow_back_ios</span>
                </button>
                <div class="image-slider">
                    <img [src]="images[currentImageIndex]" alt="Image" style="border-radius: 15px;">
                </div>
                <button (click)="nextImage()" [disabled]="currentImageIndex === images.length - 1" class="btn-next">
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </button>
            </div>
        </div>
    </div>
    <div class="show">
        <button (click)="showDiv()">
            ¿Quieres ver algo?
        </button>
    </div>
    <div class="letter" *ngIf="showLetter">
        <div class="paper">
            <h1>Hermosa Mía</h1>
            <p>
                Amor se que me demoré con los detalles que te iba a dar,
                pero espero este detalle denote la importancia y lo mucho que te amo. <br>
                Hemos pasado por muchas cosas hermosas, auqnue llegaste de imprevisto a mi
                vida, estoy agradecido de que hayas llegado, y aunque no lo creas me has enseñado
                muchísimo en todo este tiempo que hemos estado juntas (y que espero sea mucho más). <br>
                Eres una persona supremamente inteligente, que estoy super orgulloso de ti,
                que estoy muy feliz por las cosas buenas que te pasan en la vida, que en serio me
                encanta que pasito a pasito vas logrando muchas cosas que ni tu creías que eras capaz. <br>
                Me encanta que podamos hablar, me encanta que sin saberlo terminamos teniendo una
                conversación de muchos temas a la vez, me encanta lo que tenemos. <br>
                Puede que muchas veces no sea perfécto como quisieras, pero tienes que saber,
                que poco a poco y paso a paso, aunque estemos peleadas podremos solucionar las cosas,
                y poder llegar a un punto medio donde me siento cómodo y tu cómoda mi hermosa. <br>
                Aunque esta no es una carta supremamente larga, quiero que sepas que cuentas conmigo,
                que te amo demasiado y que siempre trataré de estar ahí para ti, dandote mi apoyo
                y sobre todo mi amor por ti. <br>
                <br>
                <strong>Te amé, Te amo y Te amaré siempre</strong>
                <br>
                <br>
                <strong>
                    Con mucho amor, Kevin
                    <span class="material-symbols-outlined icon">favorite</span> 
                </strong>
            </p>
        </div>
    </div>
    <div class="space-div"><p></p></div>
</div>

<app-footer></app-footer>
