@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
}
